:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 840px;
    --header-height: 44px;
    --footer-height: 70px;
    --radius: 16px;
    --theme: #f4f1eb;
    --entry: #fefcf7;
    --primary: #22211d;
    --secondary: #777166;
    --tertiary: #e7dfd1;
    --gray: #a49b8c;
    --content: #2d2a24;
    --hljs-bg: #232722;
    --code-bg: #eee8dd;
    --border: #d8d0c1;
    --darkpurple: #232846;
    --midpurple: #343c68;
    --lightpurple: #e6e4e0;
    --purple: #343c68;
    --graypurple: #f2f0ec;
    --lightcolor: #fbfaf7;
    --semibold: 600;
    --homesize: 18px;
    --textsize: 15px;
    --h1size: 28px;
    --entrysize: 15px;
    --headersize: 19px;
    --footersize: 13px;
    --lineheight: 1.6;
    --lineclamp: 8;
    --marginleft: 26px;
}

.dark {
    --theme: #1f231e;
    --entry: #272d25;
    --primary: #eeede6;
    --secondary: #b9b5a8;
    --tertiary: #343a32;
    --content: #e2ded3;
    --hljs-bg: #2a3028;
    --code-bg: #30372e;
    --border: #454c43;
    --graypurple: #2f3440;
    --lightcolor: #2a2f39;
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
