{{- /* layouts/partials/author.html */ -}}
{{- if or .Params.author site.Params.author -}}
  {{- $author := (.Params.author | default site.Params.author) -}}
  {{- $type := printf "%T" $author -}}

  {{- if or (eq $type "[]string") (eq $type "[]interface {}") -}}
    {{- $out := slice -}}
    {{- range $author -}}
      {{- /* Render inline markdown (e.g., [Name](url)) without wrapping <p> */ -}}
      {{- $out = $out | append (. | $.RenderString (dict "display" "inline")) -}}
    {{- end -}}
    {{- delimit $out ",&thinsp;" | safeHTML -}}
  {{- else -}}
    {{- /* Single author string */ -}}
    {{- $author | $.RenderString (dict "display" "inline") | safeHTML -}}
  {{- end -}}
{{- end -}}
