{{- $page := . -}}
{{- $cardsClickable := site.Params.researchList.cardsClickable | default false -}}
{{- $paperResource := $page.Resources.GetMatch "paper.pdf" -}}
{{- $slidesResource := $page.Resources.GetMatch "slides.pdf" -}}
{{- $paperLink := "" -}}
{{- $slidesLink := "" -}}
{{- $abstractText := "" -}}
{{- $abstractHTML := "" -}}

{{- if $page.Params.paperLink -}}
    {{- if or (hasPrefix $page.Params.paperLink "http://") (hasPrefix $page.Params.paperLink "https://") (hasPrefix $page.Params.paperLink "/") -}}
        {{- $paperLink = $page.Params.paperLink -}}
    {{- else -}}
        {{- $paperLink = printf "%s%s" $page.RelPermalink $page.Params.paperLink -}}
    {{- end -}}
{{- else if $paperResource -}}
    {{- $paperLink = $paperResource.RelPermalink -}}
{{- else if eq $page.Params.research_status "working-paper" -}}
    {{- $paperLink = $page.RelPermalink -}}
{{- end -}}

{{- if $page.Params.slideLink -}}
    {{- if or (hasPrefix $page.Params.slideLink "http://") (hasPrefix $page.Params.slideLink "https://") (hasPrefix $page.Params.slideLink "/") -}}
        {{- $slidesLink = $page.Params.slideLink -}}
    {{- else -}}
        {{- $slidesLink = printf "%s%s" $page.RelPermalink $page.Params.slideLink -}}
    {{- end -}}
{{- else if $slidesResource -}}
    {{- $slidesLink = $slidesResource.RelPermalink -}}
{{- end -}}

{{- $abstractHTML = $page.Content -}}
{{- $abstractHTML = replaceRE "(?s)^\\s*<hr>\\s*<h4[^>]*>Download</h4>\\s*<ul>.*?</ul>\\s*<hr>\\s*" "" $abstractHTML -}}
{{- $abstractHTML = replaceRE "(?s)^\\s*<hr>\\s*" "" $abstractHTML -}}
{{- $abstractHTML = replaceRE "(?s)^\\s*<h5[^>]*>Abstract</h5>\\s*" "" $abstractHTML -}}
{{- $abstractText = ($abstractHTML | plainify | htmlUnescape) -}}
{{- $abstractTextTrimmed := replaceRE "^\\s+|\\s+$" "" $abstractText -}}
{{- if not $abstractTextTrimmed -}}
    {{- if $page.Description -}}
        {{- $abstractText = ($page.Description | markdownify | plainify | htmlUnescape) -}}
        {{- $abstractHTML = printf "<p>%s</p>" $abstractText -}}
    {{- else if $page.Params.summary -}}
        {{- $abstractText = ($page.Params.summary | markdownify | plainify | htmlUnescape) -}}
        {{- $abstractHTML = printf "<p>%s</p>" $abstractText -}}
    {{- else -}}
        {{- $abstractText = ($page.Summary | plainify | htmlUnescape) -}}
        {{- if $page.Truncated -}}
            {{- $abstractText = printf "%s..." $abstractText -}}
        {{- end -}}
        {{- $abstractHTML = printf "<p>%s</p>" $abstractText -}}
    {{- end -}}
{{- end -}}
{{- $abstractTextTrimmed = replaceRE "^\\s+|\\s+$" "" $abstractText -}}

<article class="post-entry research-entry {{ if $cardsClickable }}is-clickable{{ else }}is-static{{ end }}">
  {{- $isHidden := (site.Params.cover.hidden | default site.Params.cover.hiddenInList) }}
  {{- partial "cover.html" (dict "cxt" $page "IsHome" true "isHidden" $isHidden) }}
  <header class="entry-header">
    <h2>
      {{- $page.Title }}
      {{- if $page.Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
    </h2>
  </header>
  {{- with $page.Params.author }}
  <div class="entry-authors">
    {{- range $index, $author := . -}}
      {{- $authorPlain := $author | markdownify | plainify -}}
      {{- if gt $index 0 }}, {{ end -}}
      {{- if eq $authorPlain site.Params.author -}}
        <span class="entry-author-self">{{ $authorPlain }}</span>
      {{- else -}}
        {{- $author | markdownify -}}
      {{- end -}}
    {{- end -}}
  </div>
  {{- end }}
  {{- with $page.Params.publication_status }}
  <div class="entry-publication-status">{{ . | markdownify }}</div>
  {{- end }}
  {{- if and (ne ($page.Param "hideSummary") true) $abstractTextTrimmed }}
  <details class="entry-abstract">
    <summary>
      <span class="entry-abstract-toggle" aria-hidden="true">
        <span class="entry-abstract-more">Show abstract</span>
        <span class="entry-abstract-less">Hide abstract</span>
      </span>
    </summary>
    <div class="entry-abstract-text">{{ $abstractHTML | safeHTML }}</div>
  </details>
  {{- end }}
  {{- if or $paperLink $slidesLink $page.Params.catoBriefLink }}
  <div class="entry-actions">
    {{- if $paperLink }}
    <a class="entry-action" href="{{ $paperLink }}">Paper</a>
    {{- end }}
    {{- if $slidesLink }}
    <a class="entry-action" href="{{ $slidesLink }}">Slides</a>
    {{- end }}
    {{- with $page.Params.catoBriefLink }}
    <a class="entry-action" href="{{ . }}">Cato Brief</a>
    {{- end }}
  </div>
  {{- end }}
  {{- if $cardsClickable }}
  <a class="entry-link" aria-label="post link to {{ $page.Title | plainify }}" href="{{ $page.Permalink }}"></a>
  {{- end }}
</article>
