.first-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    margin: var(--gap) 0 calc(var(--gap) * 2) 0;
}

.first-entry .entry-header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
}

.first-entry .entry-header h1 {
    font-size: 34px;
    line-height: 1.3;
}

.first-entry .entry-content {
    margin: 14px 0;
    font-size: 16px;
    -webkit-line-clamp: 8;
}

.first-entry .entry-footer {
    font-size: 14px;
}

.home-info .entry-content {
    -webkit-line-clamp: unset;
}

.post-entry {
    position: relative;
    margin-bottom: var(--gap);
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    transition: max-height 0.3s, border-color 0.3s; /* Add transition for smooth expanding and border color change */
    border: 2px solid var(--border);
    overflow: hidden; /* Ensure the content doesn't overflow */
    max-height: 300px; /* Set a maximum height for initial state, adjust as needed */
}

.post-entry:hover {
    border-color: var(--midpurple); /* Change border color on hover */
    max-height: 1000px; /* Expand the post-entry on hover, adjust as needed */
}

.tag-entry .entry-cover {
    display: none;
}

.entry-header h2 {
    font-size: 20px;
    line-height: var(--lineheight);
}

.entry-content {
    margin: 0;
    color: transparent;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 0;
    transition: margin 0.8s, -webkit-line-clamp 0.8s; /* Add transition for smooth expanding */
}

.post-entry:hover .entry-content {
    margin: 20px 10px; /* Adjust margin as needed */
    color: var(--secondary); /* Change text color when hovered */
    font-size: var(--content); /* Change font size when hovered */
    line-height: var(--lineheight); /* Change line height when hovered */
    -webkit-line-clamp: 5; /* Adjust the number of lines to display */
}

.entry-footer {
    color: var(--content);
    font-size: var(--entrysize);
}

.entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.entry-cover,
.entry-isdraft {
    font-size: var(--entrysize);
    color: var(--secondary);
}

.entry-cover {
    margin-bottom: var(--gap);
    text-align: center;
}

.entry-cover img {
    border-radius: var(--radius);
    pointer-events: none;
    width: 90%;
    height: auto;
}

.entry-cover a {
    color: var(--secondary);
    box-shadow: 0 1px 0 var(--primary);
}
